body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #ffffff;
	margin: 0;
	padding: 10px 50px;
	min-height: 100vh;
}

.heroTitle h1 {
	font-size: 36pt;
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
	padding: 20px;
	margin: 50px auto;
}

.heroContent {
	position: relative;
	z-index: 20;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heroContentInner {
	background-image: linear-gradient(
		180deg,
		rgba(26, 112, 140),
		rgba(99, 164, 158)
	);
	border: transparent;
	border-radius: 5px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heroContentTitle {
	color: #f0f0f0;
	font-size: 36pt;
	margin-bottom: 0;
}

.heroContentBody {
	font-size: xx-large;
	color: #f0f0f0;
}

.heroImage {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	width: 60%;
	height: auto;
	overflow: hidden;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heroImage img {
	max-width: 100%;
	max-height: 100%;
}

.tagCategory {
	background-color: rgba(210, 129, 97);
	color: #f0f0f0;
	padding: 0 10px;
	max-width: fit-content;
	border: transparent;
	border-radius: 5px;
	height: fit-content;
}

#orange {
	background-color: rgba(210, 129, 97);
}

#green {
	background-color: #354e41;
}

.tagCategory p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #f0f0f0;
}

.heroContentOuter p {
	color: rgb(146, 145, 145);
	font-size: 16pt;
}

.card {
	width: 40%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: rgba(248, 248, 255);
	border: 2px solid rgb(196, 196, 196);
	border-radius: 10px;
	padding: 10px;
	justify-content: space-evenly;
}

.cardHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 75%;
	padding: 20px;
	height: 5%;
}

.postType p {
	color: rgb(109, 109, 109);
}

.cardContent {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 40%;
}

.cardContent h1,
p {
	color: #030304;
}

.cardContentTitle h1 {
	margin-bottom: 0;
	font-size: 28pt;
}

.cardContentBody {
	font-size: x-large;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cardFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cardFooter p {
	color: rgb(167, 166, 166);
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 50px;
	gap: 2%;
}

.cardImage {
	max-height: 50%;
	overflow: hidden;
}

.cardImage img {
	max-width: 100%;
	height: auto;
	display: block;
}

.readAll {
	margin: 30px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 5px;
}

.readAll a {
	line-height: 5vh;
	font-weight: bold;
	font-size: large;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
}

.readAll a:link {
	color: #723b36;
}

.readAll a:visited {
	color: #c76b60;
}

.readAll svg {
	width: 2vw;
	font-weight: bolder;
}
